@import "./config/variables";

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans-400-normal.woff2') format('woff2'), url('../fonts/clear-sans-400-normal.woff') format('woff'), url('../fonts/clear-sans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: $font-display-clear-sans;
}
